*{
    box-sizing: border-box;
}

/* TOP OF THE PAGE */
.topContainer{
    background-image: url();
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.allDesigns{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 0.8em;
}
h1{
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: normal;
}
h2{
    font-weight: normal;
}
/* MIDDLE TEXT BOXES */
p{  
    color: #325050;
    font-size: 1em;
    font-family: 'Libre Baskerville', sans-serif;
    margin: 0.75em 1.5em;
    line-height: 1.5em;
}
.middleTextContainer{
    background-color: rgba(138,188,159,0.5);
    background-image: url(http://www.csszengarden.com/214/contours-opaque.png), url(http://www.csszengarden.com/214/gridlines-opaque.png), url(http://www.csszengarden.com/214/bamboo.png)
}
h3{
    color: #325050;
    font-family: 'Julius Sans One', sans-serif;
    font-weight: normal;
    margin: 0 1.5em;
    padding-top: 1.2em;
}
/* FOOTER */
ul{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100px 100px 100px 100px;
    align-content: center;
    justify-content: center;
}
li{
    display: block;
    margin: 0.25em 0;
    font-size: 1.2em;
}
#bookAd p{
    background-image: url(http://www.csszengarden.com/214/contours.png), url(http://www.csszengarden.com/214/gridlines.png), url(http://www.csszengarden.com/214/noise.png), url(http://www.csszengarden.com/214/koi.jpg);
    background-size: auto, auto, auto, cover;
    font-size: 2em;
    margin-left: 0;
    margin-right: 0;
    text-align: center;
    color: lightgray !important;
    
}