*{
    background-color: rgb(34, 33, 33);
}

.container{
    background-color: ivory;
    border: 2px solid black;
    padding: 2em;
}

form, input{
    display: inline;
    background-color: white;
}